<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TVDatabaseContext" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=MediaPortal;Persist Security Info=True;database=tve35mysql&quot;" providerName="System.Data.EntityClient" />
    <add name="ModelConn" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=MediaPortal;Persist Security Info=True;database=tve35mysql&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>